<h2>{{ userRole === 'seller' ? 'My Products' : 'Products' }}</h2>
<ul>
  <li *ngFor="let product of products">
    {{ product.name }} - ${{ product.price }}
    <ng-container *ngIf="userRole === 'buyer'">
      <button (click)="placeOrder(product.id)">Order</button>
    </ng-container>
    <ng-container *ngIf="userRole === 'seller'">
      <button (click)="deleteProduct(product.id)">Delete</button>
      <a [routerLink]="['/edit-product', product.id]">Edit</a>
    </ng-container>
  </li>
</ul>
<ng-container *ngIf="userRole === 'seller'">
  <a routerLink="/add-product" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Add New Product</a>
</ng-container>